body {
	margin: 0 7px 20px 7px;
	font-family: 'Helvetica Neue', sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	color: #333;
  }

  h1, h2, h3 {
	color: #000;
  }